@import "../../../styles/vars/vars.scss";
@import '../../../styles/mixins/mixins';

.categories {
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: $white;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    gap: 16px;

    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;
    list-style: none;

    @include tablet {
      width: 33.33%;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    text-decoration: none;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.4s;
  }

  &__link:hover &__img {
    transform: scale(1.1);
  }

  &__link-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
  }

  &__info {
    color: $secondary;
  }
}
