@import "../../styles/vars/vars.scss";
@import '../../styles/mixins/mixins';

.homepage {
  flex: 1;
  margin: 0 auto 24px;

  @include desktop {
    margin: 0 auto 24px;
  }

  &__title {
    color: $white;
    margin-bottom: 56px;
  }
}
