@import '../../../styles/mixins/mixins';
@import '../../../styles/vars/vars.scss';

.single-photo-box {
  width: 50px;
  height: 50px;
  padding: 4px;
  cursor: pointer;

  @include desktop {
    width: 80px;
    height: 80px;
  }

  &--border-white{
    border: 1px solid $white;
  }

  &--border-grey{
    border: 1px solid $secondary;
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}


