@import '../../../styles/mixins/mixins';
@import '../../../styles/vars/vars';

.product-items__list {
  display: flex;
    flex-wrap: wrap;
    width: 288px;
    row-gap: 40px;
    column-gap: 16px;
    margin-bottom: 24px;

    @include tablet {
      width: 572px;
    }

    @media (min-width: 978px) {
      width: 866px;
    }

    @include desktop {
      width: 1136px;
    }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}
