@import "../../styles/vars/vars.scss";
@import '../../styles/mixins/mixins';

.Categories {
  margin: 0 auto;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: $white;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    gap: 16px;

    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: row;
    }
  }

  &__item {
    list-style: none;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    text-decoration: none;
  }

  &__img {
    position: relative;
    transition: transform 0.4s;
  }

  &__link:hover &__img {
    transform: scale(1.1);
  }

  &__link-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;

    @include mobile {
      width: 288px;
      height: 288px;
    }

    @include tablet {
      width: 288px;
      height: 288px;
    }

    @include desktop {
      height: 368px;
      width: 368px;
    }
  }

  &__info {
    color: $secondary;
  }
}