@import '../../styles/mixins/mixins';
@import '../../styles/vars/vars.scss';

.item-card {
  flex: 1;
  margin: 0 auto;
  max-width: 1200px;

  &__carusel {
    margin-left: 16px;

    @include tablet {
      margin-left: 24px;
    }

    @include tablet {
      margin-left: 32px;
    }
  }
}

.phone-card {
  grid-template-rows: auto;
  margin: 0 16px;

  @include tablet {
    margin: 0 24px;
  }

  @include tablet {
    margin: 0 32px;
  }

  &__title {
    color: $white;

    @include mobile {
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
      grid-row: 2/3;
      margin-bottom: 32px;
    }

    @include tablet {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__main-image-box {
    max-height: 288px;

    @include mobile {
      grid-row: 3/4;
      margin-bottom: 16px;
    }

    @include desktop {
      max-height: 464px;
      margin-bottom: 80px;
    }
  }

  &__main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__other-photo-box {
    margin: 0 auto 40px;
    display: flex;
    gap: 8px;

    @include tablet {
      flex-direction: column;
    }

    @include desktop {
      gap: 16px;
    }
  }

  &__about {
    margin-bottom: 24px;
  }

  &__technical {
    &-title {
      color: $white;
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 16px;
      margin-bottom: 30px;
      border-bottom: 1px solid $secondary;

      @include tablet {
        font-size: 22px;
        line-height: 32px;
      }
    }
  }
}

.short-info {
  position: relative;

  &__phone-id{
    position: absolute;
    color: $secondary;
    right: 0;
    top: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;

    @include desktop {
      right: -200px;
    }
  }

  &__colors {
    padding-bottom: 24px;
    border-bottom: 1px solid $secondary;
    margin-bottom: 24px;
  }

  &__title {
    color: $secondary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
  }

  &__capacity {
    padding-bottom: 24px;
    border-bottom: 1px solid $secondary;
    margin-bottom: 32px;
  }

  &__price-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 16px;

    gap: 8px;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 8px;
    margin-bottom: 32px;
  }

  &__add-button {
    height: 40px;
    cursor: pointer;
    flex-grow: 1;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    text-align: center;

    color: #F1F2F9;

    transition: background-color 0.3s;
    background-color: #905BFF;

    border: 0;
    padding: 0;

    &--is-selected {
      background-color: #323542;
    }

    &:hover {
      background-color: #A378FF;
    }
  }

  &__like-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #323542;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/like.svg');

    transition: background-color 0.3s;

    border: 0;
    padding: 0;

    &--is-selected {
      border: 1px solid #3B3E4A;

      background-image: url('../../images/active-like.png');
    }

    &:hover {
      background-color: #4A4D58;
    }
  }

  &__properties {
    margin-bottom: 56px;
  }
}
