@import "../../styles/vars/vars.scss";
@import "../../styles/grids-templates/grid-templates.scss";

.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  background: $bc-color ;
  margin-bottom: 40px;

  &--open {
    flex-direction: column;
  }

  &__container {
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-bottom: 1px solid #323542;
  }

  &__left {

    @include mobile {
      display: none;
    }
    @include tablet {
      display: flex;
      align-items: center;
      margin-left: 24px;
    }

    &-mobile {
      display: flex;

      justify-content: space-between;
      align-items: center;
      margin-left: 16px;
      width: 100%;

      @include tablet {
        display: none;
      }
    }
  }

  &__logo {

    &-box {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 13px 16px;
    }

    width: 64px;
    background-repeat: no-repeat;
    background-size: contain;


    @include tablet {
      width: 80px;
      height: 26px;
    }
    
  }

  &__nav {
    @include mobile {
      display: none;
    }

    @include tablet {
        margin-left: 32px;
        display: block;
    }

    @include desktop {
      margin-left: 48px;
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;

    @include tablet {
      gap: 32px;
    }

    @include desktop {
      gap: 64px;
    }
  }

  &__nav-item {
    position: relative;
    height: max-content;
    line-height: 64px;
  }

  &__nav-link {
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    text-decoration: none;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary;

    transition-duration: 0.5s;
    transition-property: color;

    &:hover {
      color: $white;
    }

    &::after {
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      background-color: $white;
      left: 0;
      bottom: 0;
      opacity: 0;

      transition: opacity 0.3s;
    }

    &:hover::after {
      opacity: 100;
    }
  }

  &__link {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0 0 $elements;
    width: 64px;

    &::after {
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      background-color: $white;
      left: 0;
      bottom: 0;
      opacity: 0;

      transition: opacity 0.3s;
    }

    &:hover::after {
      opacity: 100;
    }

    &-burger {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        box-shadow: -1px 0 0 $elements;
        width: 48px;
        height: 48px;
        cursor: pointer;

        @include tablet {
          display: none;
        }
      }
  }

  &__link-wrap {
    position: relative;
  }

  &__link-img {
    transition: transform 0.3s;
  }

  &__link-img-count {
    position: absolute;
    top: -6px;
    left: 10px;
    height: 14px;
    width: 14px;
    background-color: red;
    border-radius: 50%;
    color: $white;
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
  }

  &__link:hover .header__link-img {
    transform: scale(1.2);
  }

  &__right {
   @include mobile {
      display: none;
    }
    @include tablet {
        display: flex;
    }
  }
}

.menu {
  background: #0F1121;
  flex: 1;
  // box-shadow: 0 1px 0 $surface-2;
  
  display: flex;
  flex-direction: column;
  // position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  @include tablet {
    display: none;
  }

  &:target {
  transform: translateX(0);  

  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    // box-shadow: 0 1px 0 $surface-2;

  }

  &__logo {
    width: 64px;
    height: 20px;
    background-repeat: no-repeat;
  }


  &__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;

  }

  &__nav-item {
    position: relative;
    height: max-content;
    line-height: 64px;
    opacity: 0;

    // animation: burger_item_in 1s ease 0s 1;
    animation-name: burger_item_in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @for $start from 1 through 4 {
      &--#{$start} {
        animation-delay: $start * 0.2s;
      }
    }
  }

  &__nav-link {
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    text-decoration: none;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary;

    transition-duration: 0.5s;
    transition-property: color;

    &:hover {
      color: $white;
    }

    &::after {
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      background-color: $white;
      left: 0;
      bottom: 0;
      opacity: 0;

      transition: opacity 0.3s;
    }

    &:hover::after {
      opacity: 100;
    }
  }

  &__link {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0 0 $elements;
    width: 50%;
    height: 64px;

    &::after {
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      background-color: $white;
      left: 0;
      bottom: 0;
      opacity: 0;

      transition: opacity 0.3s;
    }

    &:hover::after {
      opacity: 100;
    }

    &-cross {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      box-shadow: -1px 0 0 $elements;
      width: 48px;
      height: 48px;
    }
  }

  &__link-wrap {
    position: relative;
  }

  &__link-img {
    transition: transform 0.3s;
  }

  &__link:hover .menu__link-img {
    transform: scale(1.2);
  }

  &__link-img-count {
    position: absolute;
    top: -6px;
    left: 10px;
    height: 14px;
    width: 14px;
    background-color: red;
    border-radius: 50%;
    color: $white;
    font-weight: 600;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
  }

  &__link:hover .header__link-img {
    transform: scale(1.2);
  }

  &__bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 1px $surface-2;
    border: 1px solid #3B3E4A;
  }
}

@keyframes burger_menu_in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

// @for $start from 1 through 5 {
//   @keyframes burger__item--in-#{$start} {
//     0% {
//       transform: translateX(-100%);
//     }

//     100% {
//       transform: translateX(0);
//     }
//   }
// }

@keyframes burger_item_in {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes burget_bottom-item {
  0% {
    
  }
}